.no-deferjs .has-fallback {
  display: none !important;
}

picture,
video,
audio,
source,
img,
iframe,
frame,
embed {
  min-width: 1px;
  min-height: 1px;
  visibility: visible;
}

.defer-loaded {
  background-color: initial!important;
}

.defer-faded [lazied]{
  transition: opacity 0.3s;
}

.defer-faded .defer-loading:not([data-ignore]) {
  opacity: 0.1!important;
}
