.no-deferjs .has-fallback {
  display: none !important;
}

picture,
video,
audio,
source,
img,
iframe,
frame,
embed {
  min-width: 1px;
  min-height: 1px;
  visibility: visible;
}

.defer-loaded {
  background-color: initial!important;
}

.defer-faded .defer-loading {
  opacity: 0.5!important;
}

.defer-faded .defer-loaded {
  transition: opacity 0.2s;
}
