.no-deferjs [data-style],
.no-deferjs [data-src],
.no-deferjs [data-srcset] {
    display: none !important;
}

.deferjs [data-style],
.deferjs [data-src],
.deferjs [data-srcset] {
    min-width: 1px;
    min-height: 1px;
    visibility: visible;
}

.defer-lazied {
    transition: opacity .1s linear;
}

.defer-lazied.defer-loaded {
    background-color: transparent !important;
}

.defer-lazied.defer-loading:not([data-style]) {
    opacity: .5 !important;
    background-color: rgba(240, 240, 240, 0.2);
}