parameters:
	level: 5
	paths:
		- ../src
		- ../tests
	excludePaths:
		- ../src/assets/*
	scanFiles:
	    - ../defer.php
	scanDirectories:
	    - ../vendor/
	fileExtensions:
		- php
	ignoreErrors:
	parallel:
		processTimeout: 300.0
	treatPhpDocTypesAsCertain: false
